[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "docs/technical/doxygen-awesome-css"]
	path = docs/technical/doxygen-awesome-css
	url = git@github.com:jothepro/doxygen-awesome-css.git
